#mode devices/system/cpu/cpufreq/{{ cpu_governor }} = 644
#devices/system/cpu/cpufreq/{{ cpu_governor }}/freq_step = 10
#devices/system/cpu/cpufreq/{{ cpu_governor }}/up_threshold = 45
#devices/system/cpu/cpufreq/{{ cpu_governor }}/ignore_nice_load = 1
#devices/system/cpu/cpufreq/{{ cpu_governor }}/sampling_down_factor = 10