#!/bin/bash

ifnames=$(ifquery -l)
cpucount=$(( $(nproc) -1 ))
for iface in ${ifnames[@]}; do
    irqdir="/sys/class/net/${iface}/device/msi_irqs/"
    if [ -d "$irqdir" ]; then
    echo $iface
    (let CPU=0; cd $irqdir;  
         for IRQ in *; do
	    mask=$(( 1 << ${CPU}))
	    
	    hex=$(printf "%x\n" $mask)
	    echo "IRQ ${IRQ} -> CPU ${CPU} -> Bits mask = ${mask} => Hex ${hex} "
            #echo $mask > /proc/irq/$IRQ/smp_affinity
	    echo AFFINITY
	    echo /proc/irq/$IRQ/smp_affinity
	    cat /proc/irq/$IRQ/smp_affinity
	    #echo "0-${cpucount}"> /proc/irq/$IRQ/smp_affinity_list
	    echo AFFINITY LIST
	    echo 
	    cat /proc/irq/$IRQ/smp_affinity_list
            let CPU+=1
         done)

    fi

    
done
